body {
  position: relative;
}

nav {
  background-color: #f58220;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a {
  font-weight: bold;
  color: #4a2a7e;
}

.dropdown-submenu .dropdown-menu {
  top: 10%;
  left: 100%;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}

/* Hero */
.hero {
  margin-top: 5rem;
}

.hero h2 {
  color: #e5a324;
  font-size: 60px;
}

.hero p {
  color: #54595f;
}

.hero-content {
  color: #7a7a7a;
}

.hero div .btn-primary {
  background-color: #2f3c4c;
  border: none;
  border-radius: 30px;
}

.hero .hero-gallery {
  position: relative;
}

.hero .hero-gallery .hero-image-2 {
  position: absolute;
  right: 5rem;
  top: 7rem;
}

/* Final Section */

.final {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 200px;
}
