nav {
  background-color: #f58220;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a {
  font-weight: bold;
  color: #4a2a7e;
}

.dropdown-submenu .dropdown-menu {
  top: 10%;
  left: 100%;
  margin-top: -1px;
}

.navbar-nav li:hover > ul.dropdown-menu {
  display: block;
}
